files:
  "/etc/nginx/conf.d/gzip.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      gzip on;
      gzip_vary on;
      gzip_min_length 1024;
      gzip_types text/plain text/css text/xml text/javascript 
                 application/x-javascript application/xml+rss;

packages:
  yum:
    nodejs: []

commands:
  01_npm_install:
    command: "npm install"
    leader_only: true
  02_npm_build:
    command: "npm run build || true"
    leader_only: true
