option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "node Server.js"
    ProxyServer: nginx
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: "production"
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
    RetentionInDays: 7
  aws:elasticbeanstalk:xray:
    XRayEnabled: false
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: "basic"
    EnhancedHealthAuthEnabled: true
